@font-face {
  font-family: 'mothproofscriptregular';
  src: url('Mothproof_Script-webfont.eot');
  src: url('Mothproof_Script-webfont.eot?#iefix') format('embedded-opentype'),
       url('Mothproof_Script-webfont.woff2') format('woff2'),
       url('Mothproof_Script-webfont.woff') format('woff'),
       url('Mothproof_Script-webfont.ttf') format('truetype'),
       url('Mothproof_Script-webfont.svg#mothproofscriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: 'mothproofscriptregular', serif;
  font-size: 2.75em;
  opacity: 0.85;
}

